body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: #e4e4e4;
}

h1,
h2,
h3 {
  font-family: "Montserrat", "sans-serif";
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
